* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #222e59;
  color: white;
  font-family: "Bangers", cursive;
}

.menu {
  background: #f3ca20;
}
h1 {
  color: #f3ca20;
}

h4 {
  font-family: "Open Sans", sans-serif;
}

a {
  width: 80% !important;
  font-family: "Bangers", cursive !important;
  background: #222e59 !important;
  color: white !important;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 10px 0;
  text-decoration: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h1,
h2,
h3 {
  font-family: "Bangers", cursive !important;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.contact-btn {
  width: 50% !important;
}

.card-btn {
  width: 100% !important;
}

@media screen and (max-width: 960px) {
  .about-text {
    font-size: 2em !important;
  }
  .work-cards {
    height: 35% !important;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 4rem !important;
  }
  h2 {
    font-size: 2rem !important;
  }
  .menu {
    flex-basis: 20% !important;
  }
  .right-column {
    width: 80% !important;
  }
  .work-cards {
    height: 30% !important;
  }
}
